__pycache__/
*.py[cod]
*.pyo

.venv/
venv/

.cache/
.cache_huggingface/
huggingface_cache/
*.cache

*.safetensors
*.bin
*.pt
*.pth
*.onnx
*.ckpt
*.gguf

logs/
tmp/
temp/

Thumbs.db
Desktop.ini

*.egg-info/
dist/
build/


tts/GPT-SoVITS/GPT-SoVITS/pretrained_models/*
!tts/GPT-SoVITS/GPT_SoVITS/pretrained_models/.gitkeep

!/audio/*.mp3

memory/long/*
!memory/long/.gitkeep

memory/rag/*
!memory/rag/.gitkeep

games/chess/stockfish/stockfish-windows-x86-64-avx2.exe
